*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* ------------------Navigation css------------------- */
body{
    height: 100vh;
}
nav{
    height: 7%;
    background-color: rgb(241, 241, 241);
}
.logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: auto;
    height: 25px;   
}

svg{
    background-color: rgba(255, 255, 255);
    width: 100%;
    height: 100%;
}



/* --------------------BODY Css-------------------- */

.content{
    height: 93%;
}
.user_input{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background-color: #393535;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
input {
    all: unset;
    font: 16px system-ui;
    color: #e9e9e9;
    height: 100%;
    width: 100%;
    padding: 6px 10px;

}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::placeholder {
    color: #ffe9c2;
    opacity: 0.7; 
}
button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 40px;
    border-left: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* **********data show******** */
.data_show{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loader{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 99%;
}
.loader.show{
    visibility: visible;
}
.loader.hide{
    visibility :hidden;
}
.data_parent{
    width: 80%;
    height: 95%;
    display: flex;
}
.profile{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.repo{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.limit_select{
    width: fit-content;
    height: 20px;
    position: absolute;
    right: 150px;
    top: 17%;
}

.limitSelectInput{
    border: 1px solid gray;
    border-radius: 5px;
    width: 40px;
    color: rgb(30, 28, 28);
}


/* **************************INSIDE PROFILE **************************** */
.avtar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.avtar_circle{
    width: 50%; 
    border-radius: 50%;
    text-align: center;
    line-height: 0%; 
    overflow: hidden;
    border: 1px solid rgb(81, 80, 80);
}
.avtar_circle img{
    width: 100%;
    height: 100%;
}

/* ************************ USER DATA ************************ */

.user_data{
    height: 100%;
    margin: 10px 10px 10px 90px;
}
.user_data div{
    margin: 10px 0px 10px 0px;
    font-size: 15px;
    color: rgb(29, 29, 29);
}

#name{
    font-size: 25px;
    font-weight: bold; 
    width: 100%;
    color: rgb(14, 13, 13);
}
#login{
    color: rgb(90, 90, 90);
}
#bio{
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}
#follow , #location , #public_repos{
    margin-top: 15px;
}
/* ********************** REPO DATA ******************* */

.repo_data{
    width: 100%;
    height: 90%;
}


/* ****************** PAGINATION CSS ***************** */
.pagination_dv {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

#pagination li {
    display: inline;
}

#pagination li a {
    display: inline-block;
    text-decoration: none;
    padding: 5px 10px;
    color: #000;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#pagination li a.active {
    background-color: #4caf50;
    color: #fff;
}

#pagination li a:hover:not(.active) {
    background-color: #ddd;
}


/* ******************** REPO _ DATA ******************* */

.repo_data {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto; 
    justify-content: center;
    align-items: center;
}

.rp1 {
    width: 40%;
    height: 100px;
    margin: 20px;
    border: 2px solid rgb(156, 153, 153);
    padding: 10px;
    overflow: hidden;
}
.repo_data:hover::-webkit-scrollbar-thumb{
    border-radius: 20px;

    background:linear-gradient(rgba(55, 54, 54, 0.134),rgba(32, 29, 29, 0.145),rgba(59, 57, 57, 0.189));

}
.repo_data::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}


.heading{
    font-size: 24px;
    font-weight: 550;
    height: 30%;
    color: rgb(0, 106, 188);
}
.discription{
    height: 40%;
    font-size: 13px;
    display: flex;
    align-items: center;
    color: rgb(29, 28, 28);
}
.tech_use{
    height: 30%;
    display:flex;
    align-items: center;
}
.tech_name{
    width: auto;
    margin: 3px;
    background-color: rgba(0, 111, 196, 0.856);
    color: rgb(237, 237, 237);
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 4px;
}



@media screen and (max-width:900px) {

    .data_parent{
        flex-direction: column;
    }
    .profile{
        width: 100%;
        height: 35%;
        flex-direction: row;
        
    }
    .repo{
        height: 65%;
        width: 100%;
    }
    .avtar{
        width: 40%;
        height: 100%;
        
    }
    .user_data{
        width: 60%;
        height: 100%;
        padding-top: 20px;
        
    }
    .user_data{
        height: 100%;
        margin: 0px;
    }
    .user_data div{
        margin: 0px;
        font-size: 12px;
        color: rgb(29, 29, 29);
    }
    
    #name{
        font-size: 25px;
        font-weight: bold; 
        width: 100%;
        color: rgb(14, 13, 13);
    }
    #login{
        color: rgb(90, 90, 90);
    }
    #bio{
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    #follow , #location , #public_repos{
        margin-top: 5px;
    }
    .limit_select{
        width: fit-content;
        height: 20px;
        position: absolute;
        right: 150px;
        top: 40%;
        z-index: 1;
    }
}

@media screen and (max-width:800px) {
    .limit_select{
        display: none;
    }
}


@media screen and (max-width:600px) {
    .data_parent{
        flex-direction: column;
    }
    .profile{
        width: 100%;
        height: 30%;
        flex-direction: row;
        
    }
    .repo{
        height: 70%;
        width: 100%;
    }
    .avtar{
        width: 50%;
        height: 100%;
        
    }
    .user_data{
        width: 60%;
        height: 100%;
        margin: 0px;
    }
    
}
@media screen and (max-width:400px) {
    .data_parent{
        flex-direction: column;
    }
    .profile{
        width: 100%;
        height: 20%;
        flex-direction: row;
        border-bottom: 1px solid #9a9a9a;
        
    }
    .repo{
        height: 80%;
        width: 100%;
    }
    .avtar{
        width: 50%;
        height: 100%;
        
    }
    .user_data{
        width: 60%;
        height: 100%;
        margin: 0px;
    }
}


